.navbar-brand {
    margin-right: 0;
}
.exto-nav .navbar .others-options .saas-nav-btn {
    margin-right: 10px;
    margin-left: 0;
}
.exto-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    right: 0;
    left: auto;
    text-align: right;
}
.nice-select .option {
    text-align: right;
}
.exto-nav .navbar .others-options {
    margin-right: 5px;
    margin-left: 0;
}
.exto-nav .navbar .navbar-nav .nav-item:first-child a {
    margin-right: 0;
    margin-left: 15px;
}
.exto-nav .navbar .navbar-nav .nav-item:last-child a {
    margin-left: 0;
    margin-right: 15px;
}
.saas-home-area .saas-image img {
    right: 0;
    left: auto;
}
.saas-home-area .saas-image img:last-child {
    right: 330px;
    left: auto;
}
.circle-img {
    right: 55%;
    left: 0;
}
.saas-home-area .hero-content .saas-btn .saas-btn-two {
    margin-right: 15px;
    margin-left: 0;
}
.saas-home-area .hero-content .saas-btn .saas-btn-one i {
    padding-right: 6px;
    padding-left: 0;
}
.saas-home-area .hero-content .saas-btn .saas-btn-two i {
    padding-right: 6px;
    padding-left: 0;
}
.shape-img1 {
    right: 10%;
    left: auto;
}
.shape-img2 {
    right: 5%;
    left: auto;
}
.shape-img3 {
    left: 10%;
    right: auto;
}
.shape-img5 {
    right: 20%;
    left: auto;
}
.default-btn i {
    padding-right: 6px;
    padding-left: 0;
}
.col-lg-6 .row .col-lg-6:nth-child(1) .services-image {
    border-left: 1px solid #f9f5f5;
    border-right: none;
}
.col-lg-6 .row .col-lg-6:nth-child(3) .services-image {
    border-left: 1px solid #f9f5f5;
    border-right: none;
}
.benefit-area-content {
    padding-right: 100px;
    padding-left: 0;
}
.benefit-area-content i {
    right: 30px;
    left: auto;
}
.software-list-tab .tabs {
    padding-right: 0;
}
.software-list-tab .tabs li a i {
    margin-left: 8px;
    margin-right: 0;
}
.software-list-tab .tab_content .tabs_item .tab-image .tab-shape {
    right: -100px;
    left: auto;
    bottom: 0;
}
.software-list-tab .tab_content .tabs_item .tab-image .tab-arrow-two {
    right: -22px;
}
.software-list-tab .tab_content .tabs_item .tab-image .tab-arrow {
    left: 45px;
}
.pricing-section .pricing-btn-wrap .price-btn .price-btn-one.price-two {
    margin-right: 15px;
    margin-left: 0;
}
.single-pricing-box.table-price {
    right: -40px;
    left: auto;
}
.single-pricing-box .pricing-features {
    text-align: right;
}
.single-pricing-box .pricing-features i {
    margin-left: 5px;
    margin-right: 0;
}
.client-section .owl-prev {
    left: 20px;
    right: auto;
}
.subscribe-area-content {
    margin-right: auto;
    margin-left: 0;
}
.subscribe-area-content .newsletter-form button {
    left: -12px;
    right: auto;
}
.subscribe-area-content .newsletter-form button i {
    margin-right: 5px;
    margin-left: 0;
}
.subscribe-area-content .newsletter-form .input-newsletter {
    padding-right: 20px;
    padding-left: 0;
}
.subscribe-area-content .social-list {
    padding-right: 0;
}
.subscribe-area-content .social-list li.list-heading {
    padding-left: 10px;
    padding-right: 0;
}
.pr-0, .px-0 {
    padding-left: 0!important;
}
.subscribe-image {
    text-align: left;
}
.subscribe-image .main-image img:nth-child(2) {
    right: 40px;
    left: auto;
}
.subscribe-image .main-image img:nth-child(3) {
    right: 40px;
    left: auto;
}
.talk-content-area {
    margin-right: 60px;
    margin-left: 0;
}
.talk-image .talk-shape {
    right: 40px;
    left: auto;
}
.talk-image .talk-arrow {
    right: -10px;
    left: auto;
}
.single-footer-widget .footer-quick-links {
    padding-right: 0;
}
.single-footer-widget .footer-quick-links.address-link a {
    padding-right: 40px;
    padding-left: 0;
}
.single-footer-widget .footer-quick-links.address-link a i {
    right: 0;
    left: auto;
}
.single-footer-widget .social-list {
    padding-right: 0;
}
.copyright-area ul {
    padding-right: 0;
    text-align: left;
}
.copyright-area ul li:first-child {
    margin-right: 0;
    margin-left: 10px;
}
.copyright-area ul li:last-child {
    margin-left: 0;
    margin-right: 10px;
}
.copyright-area ul li::before {
    left: -13px;
    right: auto;
}
.go-top {
    left: 15px;
    right: auto;
}
.top-services-area .top-services-content {
    border-left: 1px solid #e6e2e8;
    border-right: none;
}
.top-services-section .col-lg-3:last-child .top-services-content {
    border-left: none;
}
.history-content-area {
    margin-left: auto;
    margin-right: 0;
}
.single-performance .circlechart {
    margin-right: 55px;
    margin-left: 0;
}
.productive-area-content {
    padding-right: 75px;
    padding-left: 0;
}
.productive-area-content .icon i {
    right: 0;
    left: auto;
}
.needs-area-content .needs-text p {
    padding-right: 45px;
    padding-left: 0;
}
.needs-area-content .needs-text p::before {
    right: 0;
    left: auto;
}
.project-title .project-btn {
    left: 0;
    right: auto;
}
.single-project-item .project-content {
    text-align: right;
}
.saying-slides .saying-single-item .saying-info {
    padding-right: 100px;
    padding-left: 0;
}
.saying-slides .saying-single-item .saying-info .say-image {
    right: 0;
    left: auto;
}
.faq-accordion .accordion .accordion-item .accordion-title i {
    left: 30px;
    right: auto;
}
.provide-area-content .provide-form button {
    left: 7px;
    right: auto;
}
.provide-area-content .provide-form .input-newsletter {
    padding-right: 25px;
    padding-left: 0;
}
.navbar-area-two .exto-nav .navbar .navbar-nav .nav-item:first-child a {
    margin-right: 0;
    margin-left: 15px;
}
.navbar-area-two .exto-nav .navbar .navbar-nav .nav-item:last-child a {
    margin-left: 0;
    margin-right: 15px;
}
.startup-home-area .startup-shape img {
    left: 230px !important;
    right: auto !important;
}
.startup-home-area .hero-content .startup-btn .startup-btn-two {
    margin-right: 15px;
    margin-left: 0;
}
.startup-home-area .hero-content .startup-btn .startup-btn-two i {
    padding-right: 6px;
    padding-left: 0;
}
.startup-home-area .hero-content .startup-btn .startup-btn-one i {
    padding-right: 6px;
    padding-left: 0;
}
.partnar-two-section .appreciate {
    margin-right: auto;
    margin-left: 0;
}
.solutions-section .col-lg-4.col-md-6:nth-child(3) .solutions-area-content::before {
    background-position: top left;
}
.solutions-section .col-lg-4.col-md-6:nth-child(2) .solutions-area-content::before {
    background-position: top left;
}
.solutions-section .col-lg-4.col-md-6:nth-child(1) .solutions-area-content::before {
    background-position: top left;
}
.solutions-area-content .icon::before {
    right: -12px;
    left: auto;
}
.co-operative-title {
    border-left: 1px solid #dfdddf;
    border-right: none;
    padding-left: 60px;
    padding-right: 0;
}
.co-operative-text {
    padding-right: 40px;
    padding-left: 0;
}
.grow-area-content .grow-content-bar {
    padding-right: 100px;
    padding-left: 0;
}
.grow-area-content .grow-content-bar.bg-00a86f span {
    right: 0;
    left: auto;
}
.grow-area-content .grow-content-bar span {
    right: 0;
    left: auto;
}
.grow-area-content .grow-btn .grow-btn-two {
    margin-right: 20px;
    margin-left: 0;
}
.develop-content-area .develop-single-area {
    padding-right: 90px;
    padding-left: 0;
}
.develop-content-area .develop-single-area.bg-07328f .icon i {
    right: 0;
    left: auto;
}
.develop-content-area .develop-single-area.bg-00a86f .icon i {
    right: 0;
    left: auto;
}
.develop-content-area .develop-single-area .icon i {
    right: 0;
    left: auto;
}
.blog-title .blog-btn {
    left: 0;
    right: auto;
}
.blog-item .single-blog-item .blog-content h3::before {
    right: -50px;
    left: auto;
}
.blog-item .single-blog-item .blog-list li {
    margin-left: 20px;
    margin-right: 0;
}
.blog-item .single-blog-item .blog-list li:last-child {
    margin-left: 0;
}
.job-opportunities .grow-btn .grow-btn-two {
    margin-right: 20px;
    margin-left: 0;
}
.navbar-area-two .exto-nav .navbar .others-options .option-item {
    margin-right: 10px;
    margin-left: 0;
}
.navbar-area-two .exto-nav .navbar .others-options.seo-option .sidebar-menu-icon {
    margin-right: 10px;
    margin-left: 0;
}
.search-overlay.search-popup {
    left: 0;
    right: auto;
}
.search-overlay.search-popup .search-form .search-button {
    left: 0;
    right: auto;
}
.search-overlay.search-popup .search-form .search-input {
    padding-right: 10px;
    padding-left: 0;
}
.sidebar-modal .modal.right.fade.show .modal-dialog {
    left: 0;
    right: auto;
}
.sidebar-modal .modal.right.fade .modal-dialog {
    left: -320px;
    right: auto;
}
.close {
    float: left;
}
.sidebar-modal .modal.right .modal-body .sidebar-modal-widget .title::before {
    right: 0;
    left: auto;
}
.sidebar-modal .modal.right .modal-body .sidebar-modal-widget .social-list {
    text-align: right;
}
.sidebar-modal .modal.right .modal-body .sidebar-modal-widget .social-list li {
    padding-left: 5px;
    padding-right: 0;
}
.sidebar-modal .modal.right .modal-body .sidebar-modal-widget ul.contact-info li {
    padding-right: 45px;
    padding-left: 0;
}
.sidebar-modal .modal.right .modal-body .sidebar-modal-widget ul.contact-info li i {
    right: 0;
    left: auto;
}
.specialty-content-area .specialty-list {
    padding-right: 0;
}
.specialty-content-area .specialty-list i {
    margin-left: 8px;
    margin-right: 0;
}
.specialty-content-area .specialty-list {
    margin-left: -15px;
    margin-right: 0px;
}
.department-area-content .department-list {
    padding-right: 0;
}
.department-area-content .department-list i {
    margin-left: 8px;
    margin-right: 0;
}
.success-area-content {
    padding-right: 52px;
    padding-left: 0;
}
.success-area-content i {
    right: 0;
    left: auto;
}
.products-area-content .products-text span {
    left: 16px;
    right: auto;
}
.increase-title .increase-btn {
    left: 0;
    right: auto;
}
.increase-item .increase-area-content {
    padding-right: 100px;
    padding-left: 0;
}
.increase-item .increase-shape img {
    right: 0;
    left: auto;
}
.increase-item .increase-area-content img {
    right: 16px;
    left: auto;
}
.seo-blog-section .single-blog .blog-image .blog-bate {
    right: 20px;
    left: auto;
}
.update-form button {
    left: 5px;
    right: auto;
}
.update-form .input-newsletter {
    padding-right: 25px;
    padding-left: 0;
}
.page-title-content ul {
    padding-right: 0;
}
.page-title-content ul li::before {
    left: -15px;
    right: auto;
}
.services-details-overview .services-details-desc .services-details-accordion .accordion {
    padding-right: 0;
}
.services-details-overview .services-details-desc .services-details-accordion .accordion .accordion-title {
    padding: 15px 50px 15px 20px;
}
.services-details-overview .services-details-desc .services-details-accordion .accordion .accordion-title i {
    right: 0;
    left: auto;
}
.projects-details-desc .project-details-info .single-info-box .social {
    padding-right: 0;
}
.projects-details-desc .project-details-info .single-info-box .social li {
    margin-left: 8px;
    margin-right: 0;
}
.login-form form span {
    left: 15px;
    right: auto;
}
.text-right {
    text-align: left !important;
}
.form-check-input {
    margin-right: -1.25rem;
    margin-left: 0;
}
.form-check {
    padding-right: 1.25rem;
    padding-left: 0;
}
.signup-form form span {
    left: 15px;
    right: auto;
}
.list-unstyled {
    padding-right: 0;
    text-align: right;
}
.coming-soon-content form .submit-btn {
    left: 3px;
    right: auto;
}
.woocommerce-topbar .woocommerce-topbar-ordering .nice-select {
    padding: 17px 20px 13px 35px;
    text-align: right !important;
}
.woocommerce-topbar .woocommerce-topbar-ordering .nice-select:after {
    left: 20px;
    right: auto;
}
.product-details-desc .product-add-to-cart .input-counter {
    margin-left: 10px;
    margin-right: 0;
}
.product-details-desc .product-add-to-cart .default-btn i {
    margin-left: 2px;
    margin-right: 0;
}
.product-details-desc .buy-checkbox-btn .cbx span:last-child {
    top: 0px;
    padding-right: 4px;
    padding-left: 0;
}
.products-details-tab .tabs {
    padding-right: 0;
}
.products-details-tab .tabs li {
    margin-left: 5px;
    margin-right: 0;
}
.products-details-tab .tab_content .tabs_item .products-details-tab-content .additional-information li {
    text-align: right;
}
.products-details-tab .tab_content .tabs_item .products-details-tab-content .additional-information {
    padding-right: 0;
    text-align: right;
}
.products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-title .default-btn {
    left: 0;
    right: auto;
}
.products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item {
    padding-left: 200px;
    padding-right: 0;
}
.products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item .review-report-link {
    left: 0;
    right: auto;
}
.single-product-box .product-image .sale-btn {
    right: 20px;
    left: auto;
}
.cart-table table tbody tr td.product-subtotal .remove {
    float: left;
}
.cart-buttons .shopping-coupon-code button {
    left: 0;
    right: auto;
}
.cart-totals ul {
    padding-right: 0;
}
.cart-totals ul li span {
    float: left;
}
.order-details .title::before {
    right: 0;
    left: auto;
}
.billing-details .title::before {
    right: 0;
    left: auto;
}
.billing-details .form-group .nice-select {
    text-align: right !important;
}
.billing-details .form-group .nice-select:after {
    left: 20px;
    right: auto;
}
.order-details .payment-box .payment-method p [type="radio"]:checked + label, .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label {
    padding-right: 27px;
    padding-left: 0;
}
.order-details .payment-box .payment-method p [type="radio"]:checked + label::before, .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label::before {
    right: 0;
    left: auto;
}
.order-details .payment-box .payment-method p [type="radio"]:checked + label::after, .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label::after {
    right: 3px;
    left: auto;
}
.widget-area .widget_search form button {
    left: 0;
    right: auto;
}
.widget-area .widget .widget-title::before {
    right: 0;
    left: auto;
}
.widget-area .widget_zash_posts_thumb .item .thumb {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}


.widget-area .widget_categories ul {
    padding-right: 0;
}
.widget-area .widget_categories ul li {
    padding-right: 14px;
    padding-left: 0;
}
.widget-area .widget_categories ul li::before {
    right: 0;
    left: auto;
}
.widget-area .widget_recent_comments ul {
    padding-right: 0;
}
.widget-area .widget_recent_comments ul li {
    padding-right: 14px;
    padding-left: 0;
}
.widget-area .widget_recent_comments ul li::before {
    right: 0;
    left: auto;
}
.widget-area .widget_recent_entries ul {
    padding-right: 0;
}
.widget-area .widget_recent_entries ul li {
    padding-right: 14px;
    padding-left: 0;
}
.widget-area .widget_recent_entries ul li::before {
    right: 0;
    left: auto;
}
.widget-area .widget_archive ul {
    padding-right: 0;
}
.widget-area .widget_archive ul li {
    padding-right: 14px;
    padding-left: 0;
}
.widget-area .widget_archive ul li::before {
    right: 0;
    left: auto;
}
.widget-area .widget_meta ul {
    padding-right: 0;
}
.widget-area .widget_meta ul li {
    padding-right: 14px;
    padding-left: 0;
}
.widget-area .widget_meta ul li::before {
    right: 0;
    left: auto;
}
.blog-details-desc .article-content .entry-meta ul {
    padding-right: 0;
}
.blog-details-desc .article-content .entry-meta ul li {
    margin-left: 21px;
    margin-right: 0;
}
.blog-details-desc .article-content .entry-meta ul li:last-child {
    margin-left: 0;
}
.blog-details-desc .article-content .entry-meta ul li::before {
    left: -15px;
    right: auto;
}
blockquote::before, .blockquote::before {
    right: 50px;
    left: auto;
}
blockquote::after, .blockquote::after {
    right: 0;
    left: auto;
}
.blog-details-desc .article-content .wp-block-gallery.columns-3 {
    padding-right: 0;
}
.blog-details-desc .article-footer .article-tags span {
    margin-left: 5px;
    margin-right: 0;
}
.blog-details-desc .article-footer .article-share .social {
    padding-right: 0;
    text-align: left;
}
.post-navigation .navigation-links .nav-next {
    text-align: left;
}
.comments-area .comment-body {
    padding-right: 65px;
    padding-left: 0;
}
.comments-area .comment-author .avatar {
    right: -65px;
    left: auto;
}
.comments-area .comment-respond .comment-form-cookies-consent {
    padding-right: 20px;
    padding-left: 0;
}
.comments-area .comment-respond .comment-form-cookies-consent input {
    right: 0;
    left: auto;
}
.sidebar-modal .modal-header .close {
    left: 10px;
    right: auto;
}
.visitor-content-area .visitor-shape {
    left: 0;
    right: auto;
}
.form-check .form-check-input {
    float: right;
    margin-right: -1.5em;
    margin-left: 0;
}
.login-form .forgot-password {
    text-align: left;
}
/*
Responsive CSS
============================*/
@media only screen and (max-width: 767px) {
    .mean-container a.meanmenu-reveal {
        left: 0 !important;
        right: auto !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        width: 90%;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        text-align: left;
        left: 0;
        right: auto;
    }
    .mean-container .mean-nav ul li a {
        text-align: right;
    }
    .single-pricing-box.table-price {
        left: 0 !important;
        right: auto !important;
    }
    .subscribe-area-content {
        margin-right: 15px !important;
        margin-left: 15px !important;
    }
    .talk-content-area {
        margin-right: 0 !important;
    }
    .single-performance .circlechart {
        margin-right: 0 !important;
    }
    .top-services-area .top-services-content {
        border-left: none !important;
    }
    .co-operative-title {
        border-left: none !important;
    }
    .co-operative-text {
        padding-right: 0 !important;
    }
    .grow-area-content .grow-btn .grow-btn-two {
        margin-right: 0 !important;
    }
    .develop-content-area .develop-single-area {
        padding-right: 84px !important;
        padding-left: 0 !important;
    }
    .blog-item .single-blog-item .blog-list li {
        margin-left: 5px !important;
        margin-right: 0 !important;
    }
    .job-opportunities .grow-btn .grow-btn-two {
        margin-right: 0 !important;
    }
    .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item {
        padding-left: 0 !important;
    }
    .login-form form span {
        display: none;
    }
    .signup-form form span {
        display: none;
    }
    .saas-nav-btn {
        left: 46px !important;
        right: auto !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .benefit-area-content {
        padding-right: 75px !important;
        padding-left: 0 !important;
    }
    .mean-container a.meanmenu-reveal {
        left: 0 !important;
        right: auto !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        width: 90%;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        text-align: left;
        left: 0;
        right: auto;
    }
    .mean-container .mean-nav ul li a {
        text-align: right;
    }
    .single-pricing-box.table-price {
        left: 0 !important;
        right: auto !important;
    }
    .subscribe-area-content {
        margin-right: 15px !important;
        margin-left: 15px !important;
    }
    .talk-content-area {
        margin-right: 0 !important;
    }
    .marketing-home-area .hero-content .marketing-btn .video-btn {
        right: 30px !important;
        left: auto !important;
    }
    .top-services-area .top-services-content {
        border-left: none !important;
    }
    .single-performance .circlechart {
        margin-right: 100px !important;
    }
    .provide-area-content .provide-form button {
        left: 8px !important;
        right: auto !important;
    }
    .co-operative-text {
        padding-right: 0 !important;
    }
    .update-form button {
        left: 0 !important;
        right: auto !important;
    }
    .saas-nav-btn {
        left: 46px !important;
        right: auto !important;
    }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .exto-nav .navbar .navbar-nav .nav-item:first-child a {
        margin-left: 5px !important;
    }
    .exto-nav .navbar .navbar-nav .nav-item:last-child a {
        margin-right: 5px !important;
    }
    .saas-home-area .saas-image img:last-child {
        right: 230px !important;
        left: auto !important;
        top: 110px !important;
    }
    .features-image .features-shape {
        left: -16px !important;
        right: auto !important;
    }
    .software-list-tab .tab_content .tabs_item .tab-image .tab-shape {
        right: -35px !important;
        left: auto !important;
    }
    .software-section {
        overflow: hidden;
    }
    .single-pricing-box.table-price {
        right: -30px !important;
        left: auto !important;
    }
    .single-pricing-box .pricing-features {
        padding-right: 15px !important;
        padding-left: 0 !important;
    }
    .subscribe-area-content {
        margin-right: 15px !important;
        margin-left: 15px !important;
    }
    .subscribe-image .main-image img:nth-child(2) {
        right: -50px !important;
        left: auto !important;
    }
    .subscribe-image .main-image img:nth-child(3) {
        right: -56px !important;
        left: auto !important;
    }
    .talk-image .talk-shape {
        right: -74px !important;
        left: auto !important;
    }
    .talk-image .talk-arrow {
        right: -10px !important;
    }
    .blog-item .single-blog-item .blog-list li {
        margin-left: 5px !important;
        margin-right: 0 !important;
    }
    .default-btn {
        padding: 10px 10px !important;
    }
    .startup-home-area .startup-shape img {
        right: 230px !important;
        left: auto !important;
    }
}

@media only screen and (min-width: 1824px) {
   
}